*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-acceuil{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/img.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* Navbar */
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-nav .nav-link{
    font-weight: bold;
    color: white;
}
.otaku{
    color: rgb(214, 142, 8);
    position: relative;
    top: 6px;
    background: transparent;
    animation: otaku 2s infinite;
}
.btn1{
    background: rgb(214, 142, 8);
    padding: 8px;
    border-radius: 5px;
    color: white;
}
.btn1:hover{
    opacity: 0.8;
}

@keyframes otaku {
    100%{
        transform: scale(1.1);
    }
}

/* footer */
.lien p a{
    text-decoration: none;
    color: orange;
}

.lien p a:hover{
    text-decoration: underline;
    color: whitesmoke;
}

/* A propos */
.bg-propos{
    background: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.vegeto{
    animation: vetegoImg 5s infinite;
}

@keyframes vetegoImg {
    0%{
        transform: translateY(60px);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(60px);
    }
}

/* Mangas */
.bg-mangas{
    background-image: linear-gradient(rgba(0,0,0,0.3) ,rgba(0,0,0,0.5)), url(img/mangas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-scale:hover{
    outline: none;
    animation: scale 1s ease-in;
}

@keyframes scale {
    50%{
        transform: scale(0.9);
    }
}

/* Naruto */
.naruto{
    background-image: linear-gradient(rgba(0,0,0,0.3) ,rgba(0,0,0,0.5)), url(img/konoha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.kiri-text{
    opacity: 0;
}
.first:hover~.kiri-text{
    opacity: 1;
}
.konoha-logo{
    position: relative;
    left: 25px;
}
.my-circle{
    border: 3px solid white;
    width: 200px;height: 200px;
    border-radius: 50%;
}
.senju, .uzu, .uchi, .akat,
.saru, .yama, .inu, .abu,
.aki{
    background-image: url(img/senju.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.plus{
    display: none;
}
.senju:hover .plus, .uzu:hover .plus,
.uchi:hover .plus, .akat:hover .plus,
.saru:hover .plus, .yama:hover .plus,
.inu:hover .plus, .abu:hover .plus,
.aki:hover .plus{
    width: 190px;height: 190px;
    border-radius: 50%;
    background: rgba(235, 148, 8, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16.5px; 
}

.uzu{
    background-image: url(img/uzumaki.jpg);
}
.uchi{
    background-image: url(img/uchiwa.jpg);
}
.akat{
    background-image: url(img/akatsuki.jpg);
}
.saru{
    background-image: url(img/sarutobi.jpg);
}
.yama{
    background-image: url(img/nara.jpg);
}
.inu{
    background-image: url(img/inuzuka.jpg);
}
.abu{
    background-image: url(img/aburame.jpg);
}
.aki{
    background-image: url(img/aki.jpg);
}